.app-header {
	background-color: #282c34;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.app-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-link {
	display: flex;
	align-items: center;
	padding-right: 16px;
}

.app-link a {
	color: #fff;
	font-weight: 500;
}
